openapi: 3.2.0
info:
  title: Kobiton REST Data Sets API
  description: The Kobiton REST API programmatically operates the Kobiton mobile device cloud and app testing platform.
  version: '1.0'
  contact:
    name: Kobiton
    url: https://kobiton.com
servers:
- url: https://api.kobiton.com/v1
  description: Kobiton REST API v1
security:
- basicAuth: []
tags:
- name: Datasets
  description: Data-driven testing input sets.
paths:
  /data-sets:
    get:
      operationId: listDataSets
      tags:
      - Datasets
      summary: List data sets in a session
      description: Returns the data-driven testing data sets in the specified session.
      responses:
        '200':
          description: The data sets in the session.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /data-sets/by-command:
    post:
      operationId: createDataSetByCommand
      tags:
      - Datasets
      summary: Create a data set by command ID
      responses:
        '200':
          description: The created data set.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /data-sets/by-element:
    post:
      operationId: createDataSetByElement
      tags:
      - Datasets
      summary: Create a data set by element property
      responses:
        '200':
          description: The created data set.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /data-sets/{dataSetId}/actions/by-command:
    put:
      operationId: updateDataSetByCommand
      tags:
      - Datasets
      summary: Update a data set by command ID
      parameters:
      - $ref: '#/components/parameters/DataSetId'
      responses:
        '200':
          description: The data set was updated.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /data-sets/{dataSetId}/actions/by-element:
    put:
      operationId: updateDataSetByElement
      tags:
      - Datasets
      summary: Update a data set by element property
      parameters:
      - $ref: '#/components/parameters/DataSetId'
      responses:
        '200':
          description: The data set was updated.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    DataSetId:
      name: dataSetId
      in: path
      required: true
      schema:
        type: integer
      description: The data set ID.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your Kobiton username (or email) as the username and your Kobiton API key as the password. Create and manage API keys in the Kobiton portal under API Keys settings.
