openapi: 3.2.0
info:
  title: Kobiton REST Organization API
  description: The Kobiton REST API programmatically operates the Kobiton mobile device cloud and app testing platform.
  version: '1.0'
  contact:
    name: Kobiton
    url: https://kobiton.com
servers:
- url: https://api.kobiton.com/v1
  description: Kobiton REST API v1
security:
- basicAuth: []
tags:
- name: Organization
  description: Organization member administration.
paths:
  /organizations/member:
    post:
      operationId: createOrganizationMember
      tags:
      - Organization
      summary: Create an organization member
      responses:
        '200':
          description: The member was created.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /organizations/activate/member:
    put:
      operationId: activateOrganizationMember
      tags:
      - Organization
      summary: Activate an organization member
      responses:
        '200':
          description: The member was activated.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /organizations/deactivate/member:
    put:
      operationId: deactivateOrganizationMember
      tags:
      - Organization
      summary: Deactivate an organization member
      responses:
        '200':
          description: The member was deactivated.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /organizations/members/role:
    put:
      operationId: assignOrganizationMemberRole
      tags:
      - Organization
      summary: Assign a role to an organization member
      responses:
        '200':
          description: The role was assigned.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your Kobiton username (or email) as the username and your Kobiton API key as the password. Create and manage API keys in the Kobiton portal under API Keys settings.
