openapi: 3.2.0
info:
  title: Kobiton REST Scriptless Automation API
  description: The Kobiton REST API programmatically operates the Kobiton mobile device cloud and app testing platform.
  version: '1.0'
  contact:
    name: Kobiton
    url: https://kobiton.com
servers:
- url: https://api.kobiton.com/v1
  description: Kobiton REST API v1
security:
- basicAuth: []
tags:
- name: Scriptless Automation
  description: No-code test runs driven by revisit plans.
paths:
  /revisitPlans/start:
    post:
      operationId: startScriptlessAutomation
      tags:
      - Scriptless Automation
      summary: Start a scriptless automation run
      description: Starts a scriptless (no-code) automated test run by replaying one or more baseline exploration sessions across a target device bundle. Grounded in the scriptless-automation use-rest-api docs.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevisitPlanStartRequest'
      responses:
        '200':
          description: The scriptless run was accepted / started.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    RevisitPlanStartRequest:
      type: object
      description: Grounded in the scriptless-automation use-rest-api docs.
      properties:
        exploringSessionIds:
          type: array
          items:
            type: integer
          description: The baseline exploration session IDs to replay.
        deviceBundleId:
          type: integer
          description: The target device bundle to run the scriptless test on.
      required:
      - exploringSessionIds
      - deviceBundleId
  responses:
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your Kobiton username (or email) as the username and your Kobiton API key as the password. Create and manage API keys in the Kobiton portal under API Keys settings.
