openapi: 3.2.0
info:
  title: Kobiton REST Devices API
  description: The Kobiton REST API programmatically operates the Kobiton mobile device cloud and app testing platform.
  version: '1.0'
  contact:
    name: Kobiton
    url: https://kobiton.com
servers:
- url: https://api.kobiton.com/v1
  description: Kobiton REST API v1
security:
- basicAuth: []
tags:
- name: Devices
  description: Real devices available in the Kobiton device cloud.
paths:
  /devices:
    get:
      operationId: listDevices
      tags:
      - Devices
      summary: List available devices
      description: Returns all devices the current user can access - public cloud, favorites, and private/local devices - with device metadata. Supports filtering to locate a device to book for a test run.
      parameters:
      - name: isOnline
        in: query
        schema:
          type: boolean
        description: Whether the device is currently online.
      - name: isBooked
        in: query
        schema:
          type: boolean
        description: Whether the device is currently booked.
      - name: platformName
        in: query
        schema:
          type: string
          enum:
          - Android
          - iOS
        description: The device platform.
      - name: platformVersion
        in: query
        schema:
          type: string
        description: The platform / OS version of the device.
      - name: deviceName
        in: query
        schema:
          type: string
        description: The device name; accepts an exact name or a comma-separated list of names.
      - name: appiumDisabled
        in: query
        schema:
          type: boolean
        description: Filter by whether the device can run Appium automation tests.
      - name: groupId
        in: query
        schema:
          type: integer
        description: For organization users, restrict to devices in a device group.
      responses:
        '200':
          description: The devices accessible to the current user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceList'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    DeviceList:
      type: object
      description: Devices grouped by source. Modeled from the get-devices-info sample; reconcile exact property names against the live response.
      properties:
        privateDevices:
          type: array
          items:
            $ref: '#/components/schemas/Device'
        favoriteDevices:
          type: array
          items:
            $ref: '#/components/schemas/Device'
        cloudDevices:
          type: array
          items:
            $ref: '#/components/schemas/Device'
    Device:
      type: object
      properties:
        id:
          type: integer
        deviceName:
          type: string
        platformName:
          type: string
          enum:
          - Android
          - iOS
        platformVersion:
          type: string
        isOnline:
          type: boolean
        isBooked:
          type: boolean
        udid:
          type: string
  responses:
    Unauthorized:
      description: Authentication failed or was not provided.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Use your Kobiton username (or email) as the username and your Kobiton API key as the password. Create and manage API keys in the Kobiton portal under API Keys settings.
